{% extends "pages/leftColPage.html" %}

{% load pages_tags mezzanine_tags staticfiles %}
{% load leaflet_tags fb_tags %}
 

{% block main %}
<head>
{% leaflet_css %}
<script src="{% static "js/d3.min.js" %}"></script>
<script src="{% static "js/jquery.ui.position.js" %}"></script>
<script src="{% static "js/jquery.contextMenu.js" %}"></script>
<link href="{% static "css/jquery.contextMenu.css" %}" rel="stylesheet" type="text/css" />

<style type= "text/css">

#zoomReset{
	background-image: url('/static/leaflet/images/reset-view.png');
}
#zoomIn{
	background-image: url('/static/leaflet/images/zoom-in.png');
}
#zoomOut{
	background-image: url('/static/leaflet/images/zoom-out.png');
}

#{margin:0;}



#panel{
  -moz-transition: right 0.4s ease-in-out;
  -ms-transition: right 0.4s ease-in-out;
  -o-transition: right 0.4s ease-in-out;
  -webkit-transition: right 0.4s ease-in-out;
  background:#444;
  color:#fff;
  height:100%;
  position:fixed;
  right:-330px;
  transition: right 0.4s ease-in-out;
  width:330px; 
}

#panel h2, #panel p{
  padding:25px;
}
#panelCaller{
  position:absolute;
  top:50px;
  right:300px;
  width:110px;
  padding:20px 10px;
  background:#444; 
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform:rotate(90deg);
}
#panel:hover{
	
  right:0px;
}


</style>
</head>
  <div id="panel">
    <div id="panelCaller">Genealogy List    
    </div>    
    <h2>Panel</h2>
    <p>Content</p>
    <p><a href="#">test</a></p>    
  </div>

<div class="leaflet-top leaflet-left">
	<div class="leaflet-control-zoom leaflet-bar leaflet-control">
		<a class="leaflet-control-zoom-in" href="#" title="Zoom in" id="zoomIn"></a>
		<a class="leaflet-control-zoom-out" href="#" title="Zoom out" id="zoomOut"></a>
	</div>
	<div class = "leaflet-control-zoom leaflet-bar leaflet-control">		
		<a class="leaflet-control-zoom-out leaflet-bar-part" href="#" title="Reset view" id="zoomReset"></a>
	</div>
</div>

<div id="viz"></div>
    <script type="text/javascript">
	
	// svg url
	var svg_url = "/static/media/uploads/galleries/family_tree/family_s1.svg";
	//width, height variables
	var width = $(".col-md-12.left").width();
	var height = 400;
	var zoomBox_width = 26;
	//var ratio
	var ratio;
	var viz;
	var zoom;
	
	function resize(width, height, target_wdith, target_height){
			ratioW = target_wdith/width;
			ratioH = target_height/height;        
			if(ratioW >= ratioH)
				return ratioH;            
			else
				return ratioW;
		}
	//zoom Reset
	$(function(){				
				$('#zoomReset').on('click',function(e){
					e.preventDefault();
					zoom.scale(1);
					zoom.translate([0,0]);					
					viz.attr("transform", "translate(" + zoom.translate() + ") scale(" + zoom.scale() + ")");					
										
				});
				
				$('#zoomIn').on('click',function(e){					
					var scale = zoom.scale()+ 0.5;
					zoom.scale(scale);
					viz.attr("transform", "translate(" + zoom.translate() + ") scale(" + zoom.scale() + ")");
					console.log("zoom In: scale " + scale);					
				});
				
				$('#zoomOut').on('click',function(e){					
					var scale = zoom.scale() - 0.5;
					zoom.scale(scale);
					viz.attr("transform", "translate(" + zoom.translate() + ") scale(" + zoom.scale() + ")");
					console.log("zoom out");					
				});
			});
	
	
	//functions for call back
	rawDataCallback = function(){
		alert('Click raw data!!');
	}
	
	photoCallback = function(){
		alert('Click photos!!');
	}
	
	scanCallback = function(){
		
		//To Do: combine with view.py

		//Get filenmae first.
		var filename = this[0].lastChild.nodeValue + '.stl';		
		var query_url = '{% url "view3D" %}' + '?filename=' + filename
		window.open(query_url)
								

	}
	
	//context menu
	
	$("#viz").contextMenu({
					selector: '#context-menu-one',
					items: {
								"rawData": {name: "Raw Data", icon: "data", callback: rawDataCallback},
								"photographs": {name: "Photographs", icon: "photo", callback: photoCallback},
								"scans": {name: "Scans", icon: "tooth", callback: scanCallback},								
							}				
					
				});
	
	
	
	d3.xml(svg_url, "image/svg+xml", function(xml){
				//initialize parameters
				
				
				console.log("col width: " +$(".col-md-12.left").width());
				console.log("col height: " + $(".col-md-12.left").height());
				
				
				//load treeview as node
				var importedNode = document.importNode(xml.documentElement, true);
				
				//add a svg box
				//comment here 
				
				viz = d3.select("#viz").append("svg")
							.attr("viewBox", "0 0 "+ width + " " + height)
							.attr("width", width)
							.attr("height", height)
							.attr("preserveAspectRatio", "xMinYMin meet")
							.append("g")
							.call(zoom = d3.behavior.zoom().scaleExtent([1, 8]).on("zoom", onZoom))
							.append("g");	
							
				//add treeview as a node
								
				viz.node().appendChild(importedNode);
		
				//create a div
				/*
				var div = d3.select("#viz").append("div")
							.attr("class", "tooltip")
							.style("opacity", 0);
				*/
				//change index to 0
				var treeView = d3.selectAll("svg")
								.filter(function(d, i){return i == 0});
								
								
				var org_width = parseInt(importedNode.getBoundingClientRect().width);				
				var org_height = parseInt(importedNode.getBoundingClientRect().height);	
				console.log("org_width: " + org_width);
				console.log("org_height: " + org_height);
				
				
				//add viewBox
				
				treeView.attr("viewBox", "0 0 "+ width + " " + height)
					.attr("width", width)
					.attr("height", height)
					.attr("preserveAspectRatio", "xMinYMin meet");
				
				//resize svg
				ratio = resize(org_width, org_height, width-zoomBox_width, height);
				console.log("ratio: " + ratio);
				treeView.select("g")
				.attr("transform",  "translate(" + zoomBox_width+ ", 0) scale(" + ratio +", " + ratio + ")" );
				
				//zoom function
				function onZoom(){					
					viz.attr("transform", " translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
				}
				
				
				//add pop up dialog
				var container = $('<div style = "width:150px; height:150px; overflow:auto"></div>');
				var metadata = $('<a href="#" class="smallPolygonLink"></a>');
				var photographs = $('<a href="#" class="smallPolygonLink"></a>');
				var scans = $('<a href="#" class="smallPolygonLink"></a>');
				metadata.text("metadata")
				photographs.text("photographs")
				scans.text("scans")
                        
				container.append(metadata);
				container.append(photographs);
				container.append(scans);
				
				
				d3.selectAll("text")
							.attr("id", "context-menu-one");
				
				
				// Mouseover pop up menu
				/*
				nodes = d3.selectAll("text").on("mouseover", function(d){
													var position = d3.mouse(this);
													div.transition()        
														.duration(200)      
														.style("opacity", .9); 
													var left = d3.event.pageX -$("#viz").offset().left -28;
													var top = d3.event.pageY -$("#viz").offset().top - 28;
													div.html('<a href="#">rawdata</a>' + '<br/>'+
															   '<a href="#">photographs</a>'+ '<br/>'+
																'<a href="http://www.w3schools.com">scans</a>')
														.style("left", left + "px")     
														.style("top", top + "px");													
												})
										     .on("mouseout", function(d){											 
														div.transition()        
															.duration(500)      
															.style("opacity", 0);  																						
											});
				
				*/
										 															
			
			});
			
			
			

    
    
</script> 

{% endblock %}







