<!DOCTYPE html>
{% load compress %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=Big5">
    <title>WebGL Water</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    {% compress css %}
    <link rel="stylesheet" href="/static/css/waterShader.css" type="text/css"  charset="utf-8" />
    {% endcompress %}
    {% compress js%}
    <script type="text/javascript" src="/static/js/jquery-1.8.3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/three.min.71.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/Detector.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/progressbar.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/OrbitAndPanControls.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/TrackballControls.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/CanvasRenderer.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/Projector.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/water-material.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/water-material-height-field.js" charset="utf-8"></script>
    {% endcompress %}
    
  </head>
  <body>
    <div id="help">
      <h1>WebGL Water</h1>
      <p>This demo requires a decent graphics card and up-to-date drivers.</p>
      <h2>Interactions:</h2>
      <ul>
        <li>Press SPACEBAR to pause and unpause</li>
      </ul>
    </div>
   
    <div id="waterContainer" style="width: 75vw; height: 95vh; margin-top: 5vw; display: block;"></div>
    {% compress js%}
    <script type="text/javascript" src="/static/js/main.js"></script>
    {% endcompress js%}
  </body>
</html>