<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">

<!--
    For Adrew:
    
    "load staticfiles" and and load compress are Django template
    Please see 
    https://docs.djangoproject.com/en/1.8/howto/static-files/
    http://django-compressor.readthedocs.org/en/latest/quickstart/
-->

{% load staticfiles %}
{% load compress %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{title}}</title>
    <meta charset="utf-8" content="chrome=1" http-equiv="X-UA-Compatible">{% load staticfiles %}
    <link href="{% static "css/webgl.css" %}" media="screen" rel="stylesheet" type="text/css">

    <body>
        <div id="system_message">
            <div class="dib mr5" id="msg_text"></div>
        </div>
        <div class="textdisable" id="tpDRcontainer">
            <div id="tpModelCanvasHolder">
                <canvas id="dmCanvas"></canvas>
                <canvas id="colorCanvas"></canvas>
                <div id="teethContainer" class="tp_viewer" style="margin-left: 20vw;margin-right: 20vw;width: 60vw; height: 95vh; margin-top: 5vw;display: block;">
                </div>
                <div class="ui-progress" id="progress"></div>
            </div>
        </div>
        <div class="textdisable" id="tpDRHeader" style="display: block;">
            <div id="tpToolbar">
                <div id="tpTitle">{{filename}}
                    <span class="versioninfo">(v1)</span>
                </div>
                <button class="showtt ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" id="freedistbtn" role="button" aria-disabled="false" title="3D Distance" style="display: none">
                    <span class="ui-button-icon-primary ui-icon icon-fdist"></span>
                    <span class="ui-button-text">3D Distance</span>
                </button>
                <button class="showtt ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" id="ndistbtn" role="button" aria-disabled="false" title="Normal Distance"  style="display: none">
                    <span class="ui-button-icon-primary ui-icon icon-ndist"></span>
                    <span class="ui-button-text">Normal Distance</span>
                </button>
                <button class="showtt ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" id="rotationControl" role="button" aria-disabled="false" title="Rotation Control">
                    <span class="ui-button-icon-primary ui-icon icon-rotate"></span>
                    <span class="ui-button-text">Rotation Control</span>
                </button>
                <button class="showtt ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" id="anglebtn" role="button" aria-disabled="false" title="Angle">
                    <span class="ui-button-icon-primary ui-icon icon-angle icon-disabled"></span>
                    <span class="ui-button-text">Angle</span>
                </button>
                <button class="showtt ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" id="savescreenbtn" role="button" aria-disabled="false" title="Save Screen"  style="display: none">
                    <span class="ui-button-icon-primary ui-icon icon-camera"></span>
                    <span class="ui-button-text">Save Screen</span>
                </button>
                <button class="showtt ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" id="downloadstlbtn" role="button" aria-disabled="false" title="Download STL">
                    <span class="ui-button-icon-primary ui-icon icon-stl"></span>
                    <span class="ui-button-text">Download STL</span>
                </button>
                <button class="showtt ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" id="curvaturebtn" role="button" aria-disabled="false" title="Show Curvature">
                    <span class="ui-button-icon-primary ui-icon icon-curvature off"></span>
                    <span class="ui-button-text">Show Curvature</span>
                </button>
                <!-- <button class="showtt ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" id="wireframebtn" role="button" aria-disabled="false" title="Show Wire Frame">
                    <span class="ui-button-icon-primary ui-icon icon-wireframe icon-disabled"></span>
                    <span class="ui-button-text">Show Wire Frame</span>
                </button> -->
                <!-- <button class="showtt ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" id="getPointVal" role="button" aria-disabled="false" title="Point Pick">
                    <span class="ui-button-icon-primary ui-icon icon-pointpick icon-disabled"></span>
                    <span class="ui-button-text">Point Pick</span>
                </button> -->
            </div>
        </div>
            
        <div class="textdisable" id="tpViewPoints" style="display: block;">
            <div class="tp3DStandardView textdisable" id="tp3DStandardView0" style="top: 10px; right: 20px;">
                <button class="tp3DStandardViewName" id="tp3DStandardViewName0"  style="display: none"></button>
            </div>
            <div class="tp3DStandardView textdisable" id="tp3DStandardView1" style="top: 50px; right: 60px;">
                <button class="tp3DStandardViewName" id="tp3DStandardViewName1"></button>
            </div>
            <div class="tp3DStandardView textdisable" id="tp3DStandardView2" style="top: 50px; right: 20px;">
                <button class="tp3DStandardViewName" id="tp3DStandardViewName2"></button>
            </div>
            <div class="tp3DStandardView textdisable" id="tp3DStandardView3" style="top: 90px; right: 60px;">
                <button class="tp3DStandardViewName" id="tp3DStandardViewName3"></button>
            </div>
            <div class="tp3DStandardView textdisable" id="tp3DStandardView4" style="top: 90px; right: 20px;">
                <button class="tp3DStandardViewName" id="tp3DStandardViewName4"></button>
            </div>`
            <div class="tp3DStandardView textdisable" id="tp3DStandardView5" style="top: 130px; right: 60px;">
                <button class="tp3DStandardViewName" id="tp3DStandardViewName5"></button>
            </div>
            <div class="tp3DStandardView textdisable" id="tp3DStandardView6" style="top: 130px; right: 20px;">
                <button class="tp3DStandardViewName" id="tp3DStandardViewName6"></button>
            </div>
            <input class="bluebutton" type="button" value="Save View" id="saveviewbtn"  style="display: none">
            <input class="bluebutton" type="button" value="Set File Icon" id="setthmb" style="display: none">
        </div>
        <div  class="dg ac" id="lightControl"> </div>
        <div class="textdisable" id="partInfoOnMouse"></div>
        <div class="textdisable" id="tpModelInfo" style="display: block;">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <span class="valueName right">Facet count:</span>
                        </td>
                        <td>
                            <span class="numbervalue left">73,500</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="xvalue right">X-width:</span>
                        </td>
                        <td>
                            <span class="xvalue left">24.25</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="yvalue right">Y-height:</span>
                        </td>
                        <td>
                            <span class="yvalue left">73.98</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="zvalue right">Z-depth:</span>
                        </td>
                        <td>
                            <span class="zvalue left">13.34</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="valueName right">Mesh surface:</span>
                        </td>
                        <td>
                            <span class="numbervalue left">618.29</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="valueName right">Mesh volume:</span>
                        </td>
                        <td>
                            <span class="numbervalue left">1,015.70</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="tpScale" style="display: none;">
        </div>
        <div id="tpHueHelp" class="textdisable" style="display: none;">
            <!-- <div id="gradientScale"></div> -->
            <div id="mCurvatureGradient"></div>            
        </div>
        <div id="tpLegend" style="display:none;">
            <div style="color:black;" class="vertical-text">
                Mean Curvature Values
            </div>                        
        </div>
        <div id="pointsPickedInfo" class="textdisable" style="display: none;">
            <h3>
                Points Picked
            </h3>
            <div style="text-align:left; height:225px; overflow-y: scroll;">
            </div>
            <button onclick="deleteAllPoints();" style="margin-top:1%;">Delete All</button>
            <button onclick="exportPointsToCSV();" style="margin-top:1%;">Export to CSV</button>
        </div>
        <div id="polyPointsPickedInfo" class="textdisable" style="display: none;">
            <input type="checkbox" checked id="polyPoints2DCheck"><span style="font-size:1.17em; font-weight:bold;">Show Points Info</span>
            <div style="text-align:left; height:250px; overflow-y: scroll;">
            </div>
            <button onclick="deleteAllPoints(this);" style="margin-top:1%;">Delete All</button>
            <button onclick="exportPointsToCSV(this);" style="margin-top:1%;">Export to CSV</button>
        </div>
        <!-- <div id="polyPointsPickedInfo3D" class="textdisable" style="display: none;">
            <input type="checkbox" id="polyPoints3DCheck"><span style="font-size:1.17em; font-weight:bold;">Poly Points Picked - 3D Info</span>            
            <div style="text-align:left; height:150px; overflow-y: scroll;">
            </div>
            <button onclick="deleteAllPoints(this);" style="margin-top:1%;">Delete All</button>
            <button onclick="exportPointsToCSV(this);" style="margin-top:1%;">Export to CSV</button>
        </div> -->
        <div id="pointPickerDiv" class="textdisable" style="display:none;">
            <p>--</p>
        </div>
    </body>
        {% compress js%}
        <!-- jqeury, three.js, dat.gui, progressbar, and filesaver library -->
        <script type="text/javascript" src="{% static "js/libs/jquery-1.8.3.min.js" %}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static "js/libs/fileSaver.js" %}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static "js/libs/d3.min.js" %}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static "js/libs/three.min.71.js" %}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static "js/libs/Detector.js" %}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static "js/libs/dat.gui.min.js" %}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static "js/libs/progressbar.js" %}" charset="utf-8"></script>
        <!-- Orbit and Pan Controllers -->
        <script type="text/javascript" src="{% static "js/controls/OrbitAndPanControls.js" %}" charset="utf-8"></script>
        <!--STL and DAE file loader -->
        <script src="{% static "js/loaders/STLLoader.js" %}" charset="utf-8"></script>
        <script src="{% static "js/loaders/ColladaLoader.js" %}" charset="utf-8"></script>
        <!-- vertex shader -->
        <script type="text/x-glsl" id="vertex">
            varying vec3 vNormal;
            varying vec3 vViewPosition;

            void main() {

                gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
                vNormal = normalize( normalMatrix * normal );
                vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );
                vViewPosition = -mvPosition.xyz;
            }
        </script>
        <!--fragment shader -->
        <!-- TODO: check code here -->
        <script type="text/x-glsl" id="fragment">
            uniform vec3 uMaterialColor;
            uniform vec3 uSpecularColor;

            uniform vec3 uDirLightPos;
            uniform vec3 uDirLightColor;

            uniform vec3 uAmbientLightColor;

            uniform float uKd;
            uniform float uKs;
            uniform float shininess;

            uniform float uDropoff;

            varying vec3 vNormal;
            varying vec3 vViewPosition;

            void main() {

                // ambient
                gl_FragColor = vec4( uAmbientLightColor, 1.0 );

                // compute direction to light
                vec4 lDirection = viewMatrix * vec4( uDirLightPos, 0.0 );
                vec3 lVector = normalize( lDirection.xyz );

                vec3 normal = normalize( vNormal );

                // diffuse: N * L. Normal must be normalized, since it's interpolated.
                float diffuse = max( dot( normal, lVector ), 0.0);

                // This can give a hard termination to the highlight, but it's better than some weird sparkle.
                if (diffuse <= 0.0) {
                    return;
                }

                gl_FragColor.rgb += uKd * uMaterialColor * uDirLightColor * diffuse;

                // specular: N * H to a power. H is light vector + view vector
                vec3 viewPosition = normalize( vViewPosition );
                vec3 pointHalfVector = normalize( lVector + viewPosition );
                float pointDotNormalHalf = max( dot( normal, pointHalfVector ), 0.0 );
                float specular = pow( pointDotNormalHalf, shininess );
                specular *= diffuse*(2.0 + shininess)/8.0;
                // specular = ( specular < uDropoff ) ? 0.0 : 1.0;
                // if(specular < uDropoff) {
                //     specular = 0.0;
                // }
                // else {
                //     specular = 1.0;
                // }

                gl_FragColor.rgb += uDirLightColor * uSpecularColor * uKs * specular;
            }
        </script>
        
        <!-- For Andrew Sapiens: You can pass file_url here to load file as you want
             The syntax "%static %"" is the template tag in Django. Here are some examples
             https://docs.djangoproject.com/en/1.8/howto/static-files/
             You can change the "%static %"" to the regular static url
        -->

        <script type = "text/javascript">
            $('#tpDRHeader').hide();
            $('#teethContainer').hide();
            var file_url = "{{file_url}}";
            console.log("teethViewer3D.html file_url" + file_url);
        </script>
        <!-- viwer and 3D editor -->
        
        <script type="text/javascript" src="{% static "js/viewer.js" %}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static "js/editor_teeth.js" %}" charset="utf-8"></script>
        {% endcompress js%}
        

</html>
